/********************SETTINGS******************/
*{
	padding:0px;
	margin:0px;
	text-decoration:none;
	list-style-type:none;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

/******************HEADER**********************/
header{
    position:relative;
}
.Logo{
    width:200px;
}

.header-login{
    height:70px;

}

/******************MENU*************************/

nav h2{
    position: absolute;
    left: 44%;
    top : 15px;
    color: rgb(0, 130, 195);
    font-size:2em;
}

#connexion_inscription{
    position : absolute;
    right : 0;
    top : 2px;
}



/********************CONTENT********************/
#content{ 
    width:100%;
    margin-top: 20px;
}

.carousel-item{
    height:500px;
} 

/************POPUP cookie + newsletter ***********/

#popup_cookie{
    position : fixed;
    height : 50px;
    width : 100%;
    background-color : rgba(108, 122, 137, 0.8);
    bottom : 0;
}

#popup_cookie p{
    top : 50%;
    text-align : center;
}

#popup_cookie i{
    position : absolute;
    top : 10px;
    right : 20px;
    font-size : 2.em;
}

#popup_newsletter{
    display : none;
    position : fixed;
    height : 100px;
    width : 60%;
    background-color : rgba(108, 122, 137, 0.8);
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    margin : auto;
    text-align : center;
}

#popup_newsletter i{
    position : absolute;
    top : 10px;
    right : 20px;
    font-size : 2.em;
}

#popup_newsletter #submit{
    width : 100px;
}



/********************PRODUIT*******************/

#produit_image_main{
    position :relative;
    margin-top : 100px;
    margin-bottom : 50px;
    height : 400px;
    width : 400px;
    left : 50%;
    margin-left : -200px;
    border : 1px solid grey;
}

#produit_image{
    height : 150px;
    text-align : center;
    margin-bottom : 50px;
}

.produit_image_miniature{
    display : inline-block;
    width : 150px;
}

.produit_image_miniature img{
    height : 100%;
}

#produit_description{
    position : relative;
    width : 60%;
    margin : auto;
    margin-bottom : 50px;
}

/********************MENTIONS LEGALES********************/

.containerNavMentions ul li a:hover {
    background-position: 0% -500px;
    background-color:rgb(0, 130, 195);
  }
  .containerNavMentions ul li a:hover span {
    background-position: 100% -500px;
  }

.pageMentions{
    height:500px;
}
.containerNavMentions{
    position:relative;
    background-color: #F8F9FA;
    height:300px;
    width:230px;
    margin-left:150px;
    margin-top:30px;
}

.containerNavMentions h3{
    color:rgb(0, 130, 195);
    padding:10px;
}
.containerNavMentions button{
 width:230px;
 height:30px;
}

.list-footer-mentions li{
    font-size:0.8em;
    text-align:center;
}

.list-footer-mentions li a{
    color:black;
}

.pageClicMentions{
    position:absolute;
    background-color: rgba(100, 119, 137, 0.6);
    height:1000px;
    width:800px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    margin-left:450px;
    top:85px;
    color:white;
}

#list-mentions-page button h3{
    padding-left:0px;
    padding-right:0px;
    width:750px;
    height:20px;
    font-size:1.2em;
    text-align:center;
}

/********************A PROPOS********************/
.containerNavApropos{
    position:relative;
    background-color: #F8F9FA;
    height:300px;
    width:230px;
    margin-left:150px;
    margin-top:30px;
}



.containerNavApropos{
    position:relative;
    background-color: #F8F9FA;
    height:300px;
    width:230px;
    margin-left:150px;
    margin-top:30px;
}

.containerNavApropos h3{
    color:rgb(0, 130, 195);
    padding:10px;
}
.containerNavApropos button{
 width:230px;
 height:30px;
}

.list-footer-apropos li{
    font-size:0.8em;
    text-align:center;
}

.list-footer-apropos li a{
    color:black;
}

.pageApropos{
    height:600px;
}
.pageClicApropos{
    position:absolute;
    background-color: rgba(100, 119, 137, 0.6);
    height:540px;
    width:800px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    margin-left:450px;
    top:85px;
    color:white;
}

.pageClicApropos a{
    text-align:right;
    color:rgb(0, 130, 195);
}
#contactPageClicApropos{

    text-align:center;
}

#list-apropos-page button h3{
    padding-left:0px;
    padding-right:0px;
    width:750px;
    height:20px;
    font-size:1.2em;
    text-align:center;
}

#popup_bienvenue{
    display : none;
    position : fixed;
    height : 100px;
    width : 60%;
    background-color : rgba(108, 122, 137, 0.8);
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    margin : auto;
    text-align : center;
}

#popup_bienvenue i{
    position : absolute;
    top : 10px;
    right : 20px;
    font-size : 2.em;
}

/********************CONTACT********************/

#formBanniere{
    height:230px;
}
.containerNavContact{
    position:relative;
    background-color: #F8F9FA;
    height:300px;
    width:230px;
    margin-left:150px;
    margin-top:30px;
}



.containerNavContact{
    position:relative;
    background-color: #F8F9FA;
    height:300px;
    width:230px;
    margin-left:150px;
    margin-top:30px;
}

.containerNavContact h3{
    color:rgb(0, 130, 195);
    padding:10px;
}
.containerNavContact button{
 width:230px;
 height:30px;
}

.list-footer-contact li{
    font-size:0.8em;
    text-align:center;
}

.list-footer-contact li a{
    color:black;
}

.pageClicContact{
    position:absolute;
    background-color: rgba(100, 119, 137, 0.6);
    height:1000px;
    width:800px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    margin-left:450px;
    top:85px;
    color:white;
}

#list-contact-page button h3{
    padding-left:0px;
    padding-right:0px;
    width:750px;
    height:20px;
    font-size:1.2em;
    text-align:center;
}
#form{
    position:absolute;
    text-align:center;
    top:70px;
    margin-left:450px;
    margin-right:200px;
    height:30px;
    width:800px;
    background-color: #F8F9FA;
}

#insertForm{
    height:160px;
    background-image:url("../img/banniere.jpg");
    background-image:no-repeat;
    opacity:0.5;
    width:800px;
    margin-right:20px;
    background-color:rgb(0, 130, 195);
}

.nomEmail span{
    float:top;
}
.nomEmail{
    position:absolute;
    display:flex;
    padding-left:40px;
    top:200px;
}

.email{
    margin-left:10%;
    margin-right:1%;
}

.subject{
    position:absolute;
    width:auto;
    top:260px;
    padding-left:65px;
    margin-right:1%;
}

#message{
    position:absolute;
    top:300px;
    padding-left:30px;
}


.submit{
    position:absolute;
    top:370px;
    padding-left: 60px;
}

.contactMore{
    position:absolute;
    padding-left:80px;
    top:370px;
}

/********************CGV***********************/
#containerClicCgv{
    height:280px;
}
.containerNavCgv{
    position:relative;
    background-color: #F8F9FA;
    height:300px;
    width:230px;
    margin-left:150px;
    margin-top:30px;
}

.containerNavCgv{
    position:relative;
    background-color: #F8F9FA;
    height:300px;
    width:230px;
    margin-left:150px;
    margin-top:30px;
}

.containerNavCgv h3{
    color:rgb(0, 130, 195);
    padding:10px;
}
.containerNavCgv button{
 width:230px;
 height:30px;
}

.list-footer-cgv li{
    font-size:0.8em;
    text-align:center;
}

.list-footer-cgv li a{
    color:black;
}

.pageCgv{
    height:500px;
}
.pageClicCgv{
    position:absolute;
    background-color: rgba(100, 119, 137, 0.6);
    background-image:url('../img/logo.png');
    background-position:left;
    background-size:150%;
    height:500px;
    width:800px;
    padding-top:50px;
    padding-left:20px;
    padding-right:20px;
    margin-left:450px;
    top:85px;
    color:white;
}

#downloadCgv{
    color:rgb(0, 130, 195);
    font-size:2.6em;
    text-align:center;
}
#list-cgv-page button h3{
    padding-left:0px;
    font-size:1.2em;
    text-align:center;
}

/********************FAQ***********************/
#containerClicFaq{
    height:280px;
}
.containerNavFaq{
    position:relative;
    background-color: #F8F9FA;
    height:300px;
    width:230px;
    margin-left:150px;
    margin-top:30px;
}

.containerNavFaq{
    position:relative;
    background-color: #F8F9FA;
    height:300px;
    width:230px;
    margin-left:150px;
    margin-top:30px;
}

.containerNavFaq h3{
    color:rgb(0, 130, 195);
    padding:10px;
}
.containerNavFaq button{
 width:230px;
 height:30px;
}

.list-footer-faq li{
    font-size:0.8em;
    text-align:center;
}

.list-footer-faq li a{
    color:black;
}

.pageClicFaq{
    position:absolute;
    background-color: rgba(100, 119, 137, 0.6);
    background-image:url('../img/logo.png');
    background-position:left;
    background-size:150%;
    height:500px;
    width:800px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    margin-left:450px;
    top:85px;
    color:white;
}

#list-faq-page button h3{
    padding-left:0px;
    padding-right:0px;
    width:750px;
    height:20px;
    font-size:1.2em;
    text-align:center;
}
/********************FOOTER********************/

.fa-headset{
    font-size:30px;
    margin: 20px;
    vertical-align:middle;
}
.fa-map-marker{
    font-size:30px;
    margin: 20px;
    vertical-align:middle;
}
.fa-truck-moving{
    font-size:30px;
    margin: 20px;
    vertical-align:middle;
}
.fa-credit-card{
    font-size:30px;
    margin: 20px;
    vertical-align:middle;
}

#support{
    display:flex;
	flex-direction:column;
	margin-bottom:10px;
    background-color:#f8f9fa;
    width:100%;
}

#support p{
    color:black;
    text-align:center;
    font-size:0.8em;
}

footer{
    background-color:rgb(0, 130, 195);
    margin-top: 20px;
}
.list-footer{
    padding-top: 20px;
    justify-content: center;
}
#list-lien-footer, #list-icon-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.lien-footer{
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}
.icon-reseaux{
    color: white;
    font-size: 45px!important;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
}

/********************CONNEXION********************/

input{
    width:270px;
}

#submit{
    width:200px;
}

#creationCompte{
    padding-bottom : 20px;
}

.form-group .sexe label{
    margin-left : 10%;
    margin-right : 10%;
}

.form-group .sexe input{
    width : 30px;
}

.Logo{
    width:200px;
}
.header-login{
    height:70px;

}

/********************CATALOGUE********************/
.card{
    border-radius: 0!important;
}
.btn-voirplus{
    width: 40%;
    margin-bottom: 10px;
    border-radius: 0!important;
}