/********************SETTINGS******************/
*{
	padding:0px;
	margin:0px;
	text-decoration:none;
	list-style-type:none;
}

/******************HEADER**********************/
header{
    position:relative;
}

/******************MENU*************************/

nav h2{
    position: absolute;
    left: 44%;
    top : 7px;
    color: rgb(0, 130, 195);
    font-size:2.em;
}

#connexion_inscription{
    position : absolute;
    right : 0;
    top : 2px;
}



/********************CONTENT********************/
#content{ 
    width:100%;
    height:100px;
    position:absolute;
}

.carousel-item{
    height:500px;
} 


/********************PRODUIT*******************/

#produit_image_main{
    position :relative;
    margin-top : 100px;
    margin-bottom : 50px;
    height : 400px;
    width : 400px;
    left : 50%;
    margin-left : -200px;
    border : 1px solid grey;
}

#produit_image{
    height : 150px;
    text-align : center;
    margin-bottom : 50px;
}

.produit_image_miniature{
    display : inline-block;
    width : 150px;
}

.produit_image_miniature img{
    height : 100%;
}

#produit_description{
    position : relative;
    width : 60%;
    margin : auto;
    margin-bottom : 50px;
}

/********************FOOTER********************/

footer{
    position: relative;
    top:400px;
    color: solid white;
	background-color:rgb(0, 130, 195);
    height:200px;
    font-size:0.7em;
    text-align:center;
}

.footerHeader a{
    position:relative;
    top:10px;
    color:white;
    font-size:20px;
}

.footerBas{
    position:relative;
    bottom:5px;
}

.footerBas a{
    margin-left:5%;
    margin-right:5%;
    color:white;
    font-size:40px;
}
/********************CONNEXION********************/
.container{
    background-color: black;
    opacity:0.6;
    color:white;
    position:relative;
    width:350px;
    height:auto;
    top:90px;
    text-align:center;
    margin:0 auto;
}

input{
    width:270px;
}

#submit{
    width:200px;
}

#creationCompte{
    padding-bottom : 20px;
}

.form-group .sexe label{
    margin-left : 10%;
    margin-right : 10%;
}

.form-group .sexe input{
    width : 30px;
}

#popup_cookie{
    position : fixed;
    height : 50px;
    width : 100%;
    background-color : rgba(108, 122, 137, 0.8);
    bottom : 0;
}

#popup_cookie p{
    top : 50%;
    text-align : center;
}

#popup_cookie i{
    position : absolute;
    top : 10px;
    right : 20px;
    font-size : 2.em;
}

#popup_newsletter{
    position : fixed;
    height : 100px;
    width : 50%;
    background-color : rgba(108, 122, 137, 0.8);
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    margin : auto;
    text-align : center;
}

#popup_newsletter form{
    height : 100%;
}

#popup_newsletter i{
    position : absolute;
    top : 10px;
    right : 20px;
    font-size : 2.em;
}
.Logo{
    width:200px;
}
.header-login{
    height:70px;

}